.friend {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--light-grey);
}

.friend img{
    width: 50px;
    border-radius: 50%;
}

.friend h2 {
    font-size: 22px;
}

.friend i {
    color: var(--light-blue);
}

i.orange {
    color: var(--orange);
}