.dashboard {
    display: flex;
    min-height: 90vh;
}

.friends-panel {
    display: none;
    position: relative;
    flex: 1;
}

.songs-panel {
    flex: 3;
    padding-top: 50px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    position: relative;
}

.songs-show {
    display: flex;
}

.hide {
    display: none;
}

.songs-hide {
    display: none;
}

.friends-show {
    display: block;
}

.songs-panel form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.songs-panel input {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 5px;
}

.songs-panel button {
    font-size: 14px;
    padding: 8px;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
}

.song {
    width: 50%;
    min-height: 20%;
    border-radius: 10px;
    padding: 20px;
}

.loading-wrap {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-friends-btn {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: block;
}

@media(min-width: 768px) {
    .friends-panel {
        display: block;
        border-right: 3px solid var(--light-grey);
    }

    .open-friends-btn {
        display: none;
    }

    .friends-hide {
        display: block;
    }
    
    .songs-hide {
        display: flex;
    }
}