.song {
    background-color: var(--light-grey);
    margin-bottom: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #d9d9d9;
}

.collaborator {
    display: flex;
    align-items: center;
}

.collaborator img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}