.song-detail {
    display: flex;
    min-height: 80vh;
}

.friends-panel {
    display: none;
    position: relative;
    flex: 1;
}

.s-panel {
    flex: 3;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    position: relative;
}


.songs-show {
    display: flex;
}

.songs-hide {
    display: none;
}

.hide {
    display: none;
}

.friends-show {
    display: block;
}

.s-panel form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.s-panel input {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 5px;
}

.s-panel button {
    font-size: 14px;
    padding: 8px;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 5px;
}

.loading-wrap {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-panel h1 {
    font-size: 36px;
}

.song-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-meta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.edit-btn {
    align-self: flex-end;
    margin-right: 12%;
    padding: 8px 15px;
}

@media(min-width: 768px) {
    .friends-panel {
        display: block;
        border-right: 3px solid var(--light-grey);
    }

    .open-friends-btn {
        display: none;
    }

    .friends-hide {
        display: block;
    }
    
    .songs-hide {
        display: flex;
    }

    .song-meta {
        flex-direction: row;
    }
}